@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans-arabic);
  
  --color-primary: var(--primary);
  --color-primary-foreground: #ffffff;
  --color-secondary: var(--secondary);
  --color-secondary-foreground: #ffffff;
  
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: #ffffff;
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;
  
  --shadow-sm: 0 1px 3px rgba(0,0,0,0.04);
  --shadow-md: 0 4px 16px rgba(0,0,0,0.06);
}

:root {
  --background: #FFFFFF;
  --foreground: #0F172A;
  
  --card: #FFFFFF;
  --card-foreground: #0F172A;
  
  --popover: #FFFFFF;
  --popover-foreground: #0F172A;
  
  --primary: #2563EB;
  --primary-foreground: #FFFFFF;
  
  --secondary: #0891B2;
  --secondary-foreground: #FFFFFF;
  
  --success: #059669;
  --warning: #F59E0B;
  --destructive: #EF4444;
  
  --muted: #F8FAFB;
  --muted-foreground: #94A3B8;
  
  --accent: #F8FAFB;
  --accent-foreground: #475569;
  
  --border: #E2E8F0;
  --input: #E2E8F0;
  --ring: #2563EB;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans text-right;
    direction: rtl;
  }
}